<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped text-center">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let type of types">
        <td>{{ type.id }}</td>
        <td>{{ type.name }}</td>
        <td>
<!--          <a [routerLink]="['../updateuser', user.id]"><button type="button" class="btn btn-warning">Edit</button></a>-->
          <button type="button" class="btn btn-danger" (click)="onDelete(type.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
